<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input
      (usernameChange)="receiveUsernameOne($event)"
    ></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input
      (usernameChange)="receiveUsernameTwo($event)"
    ></app-text-input>
  </div>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Duel</button>
</div>
<div class="container-one">
  <div
    class="container"
    *ngIf="
      u1['total-stars']! +
        u1['highest-starred']! +
        u1['perfect-repos']! +
        u1.followers! >
      u2['total-stars']! +
        u2['highest-starred']! +
        u2['perfect-repos']! +
        u2.followers!
    "
  >
    <app-user-card [user]="u1" [count]="2"></app-user-card>
    <app-user-card [user]="u2" [count]="1"></app-user-card>
  </div>
  <div
    class="container"
    *ngIf="
      u1['total-stars']! +
        u1['highest-starred']! +
        u1['perfect-repos']! +
        u1.followers! <=
      u2['total-stars']! +
        u2['highest-starred']! +
        u2['perfect-repos']! +
        u2.followers!
    "
  >
    <app-user-card [user]="u1" [count]="1"></app-user-card>
    <app-user-card [user]="u2" [count]="2"></app-user-card>
  </div>
</div>
