.card-outline {
  display: flex;
  border: 1px solid lightgrey;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
  margin: 40px;
}

.avatar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.avatar > img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.bio {
  width: 100%;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 12px;
}

.data {
  margin-left: 35px;
}

.data span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
}

.data span button {
  width: 7.5rem;
  height: 1.5rem;
  margin-right: 10px;
  background-color: rgb(211, 244, 255);
  border-radius: 0.3rem;
  border: 1px solid grey;
}

.winner-div {
  display: flex;
  justify-content: space-around;
}

.winner {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
}

.card-outline {
  display: flex;
  border: 1px solid lightgrey;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
  margin: 40px;
}

.avatar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.avatar > img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.bio {
  width: 100%;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 12px;
}

.data {
  margin-left: 35px;
}

.data span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
}

.data span button {
  width: 7.5rem;
  height: 1.5rem;
  margin-right: 10px;
  background-color: rgb(211, 244, 255);
  border-radius: 0.3rem;
  border: 1px solid grey;
}
